node_modules/
.env
data/*
!data/metadata.csv.zst
!data/chord.csv.zst
!data/amr-rgi-consensus.csv.zst
!data/cazyme.csv.zst
!data/amp_all.csv.zst
!data/cctyper.csv.zst
!data/acp_all.csv.zst
!data/cgc.tsv.zst
!data/cgc.tsv
!data/gfpr.derived.json.zst
!data/family_assigned.csv.zst
!data/merged_pfam_kofam.csv.zst
