@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Calibri, 'Segoe UI', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.45;
  color: #0C2B2B;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}
